# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Sistema
.DS_Store
*.log
